@model  SchoolRegister.ViewModels.VM.AttachStudentToGroupVm

@{
    ViewData["Title"] =$"Detach {ViewBag.Student.FirstName} {ViewBag.Student.LastName} from group";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DetachSubjectFromGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="GroupId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>            
            <div class="form-group">

                <label class="control-label">Group</label>
                <input type="text" readonly class="form-control-plaintext"
                value="@ViewBag.Student.Group.Name">
            </div>
            <div class="form-group">
                <input asp-route-studentId="@ViewBag.Student.Id" asp-route-groupName=@ViewBag.Student.Group.Id asp-controller="Group" type="submit" value="Detach" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Student">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
