@model SchoolRegister.ViewModels.VM.GetGradesReportVm
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"].Value;
}

<h2>@ViewData["Title"]</h2>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group">
                <select name="sId" class="form-control" asp-items="@ViewBag.StudentsSelectList">
                    <option selected>@Localizer["StudentsSelectList"]</option>
                </select>
            </div>
            <div class="form-group">
                <a class="btn btn-secondary " tabindex="-1" role="button" asp-action="Index" asp-controller="Home">@Localizer["Back"]</a>
                <input asp-action="GetGradesReport" asp-route-sId=@ViewBag.StudentsSelectList.SelectedValue  
                   type="submit" value=@Localizer["GetReport"] class="btn btn-primary" />
            </div>    
        </form>        
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
